<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="intern_server.shibing.dao.AuthUserDao">

    <select id="getUserLogin" parameterType="string" resultType="intern_server.shibing.data.po.AuthUser">
        select * from auth_user where social_id=#{socialId} and password=#{password}
    </select>

    <select id="getUserInfo" parameterType="string" resultType="intern_server.shibing.data.po.AuthUser">
        select * from auth_user where social_id = #{socialId}
    </select>
    <select id="selectUserInfoData" resultType="intern_server.shibing.data.po.AuthUser">
        select *
        from auth_user
        <where>
            <if test="fuzzy !=null and fuzzy!=''">
                social_id LIKE concat(concat('%',#{fuzzy}),'%')
                or name LIKE concat(concat('%',#{fuzzy}),'%')
                or email LIKE concat(concat('%',#{fuzzy}),'%')
                or introduction LIKE concat(concat('%',#{fuzzy}),'%')
                or student_number LIKE concat(concat('%',#{fuzzy}),'%')
                or teacher_number LIKE concat(concat('%',#{fuzzy}),'%')
                or company_number LIKE concat(concat('%',#{fuzzy}),'%')
            </if>
        </where>

    </select>
    <select id="getUserInfoByTeacherNumber" parameterType="string" resultType="intern_server.shibing.data.po.AuthUser">
        select * from auth_user where teacher_number-#{id}
    </select>

    <update id="updateAvatar" parameterType="string">
        update auth_user set avatar=#{avatar} where social_id = #{socialId}
    </update>
    <update id="updateAuthUserById" parameterType="intern_server.shibing.data.po.AuthUser">
        UPDATE auth_user
        <trim prefix="set" suffixOverrides=",">
            <if test="socialId != null">social_id=#{socialId},</if>
            <if test="password!=null">password=#{password},</if>
            <if test="name!=null">name=#{name},</if>
            <if test="roleId!=null">role_id=#{roleId},</if>
            <if test="email!=null">email=#{email},</if>
            <if test="introduction!=null">introduction=#{introduction},</if>
            <if test="createTime!=null">create_time=#{createTime},</if>
            <if test="authAccount!=null">auth_account=#{authAccount},</if>
            <if test="studentNumber!=null">student_number=#{studentNumber},</if>
            <if test="teacherNumber!=null">teacher_number=#{teacherNumber},</if>
            <if test="companyNumber!=null">company_number=#{companyNumber},</if>
            <if test="registerType!=null">register_type=#{registerType},</if>
            <if test="avatar!=null">avatar=#{avatar},</if>
        </trim>
        WHERE id=#{id}
    </update>


</mapper>