<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="intern_server.shibing.dao.CompanyDao">


    <update id="updateCompanyState" parameterType="string">
        update company_info set state=#{state} where company_number = #{companyNumber}
    </update>
    <delete id="deleteCompanyInfoByIds" parameterType="string">
        delete from company_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>

    </delete>
    <select id="selectCompanyInfo" resultType="intern_server.shibing.data.po.Company">
        select * from
        company_info
        where state !='9999'
        <if test="companyName != null and companyName != ''" >
            AND company_name= #{companyName,jdbcType=VARCHAR}
        </if>
        <if test="companyPhone != null and companyPhone != ''" >
            AND company_phone= #{companyPhone,jdbcType=VARCHAR}
        </if>
        <if test="companyNumber != null and companyNumber != ''" >
            AND company_number= #{companyNumber,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectCompanyInfoById" parameterType="string" resultType="intern_server.shibing.data.po.Company">
        select * from company_info
        where id=#{id}
    </select>
</mapper>