<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="intern_server.shibing.dao.NoticeDao">
    <delete id="deleteNoticeInfoByIds" parameterType="string">
        delete from notice_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>

    </delete>

    <select id="selectNoticeInfoData" resultType="intern_server.shibing.data.po.Notice">
        select *
        from notice_info
        <where>
            <if test="fuzzy !=null and fuzzy!=''">
                notice_title LIKE concat(concat('%',#{fuzzy}),'%')
                or notice_content LIKE concat(concat('%',#{fuzzy}),'%')
                or manage_user LIKE concat(concat('%',#{fuzzy}),'%')
            </if>
            <if test="teacherNumber !=null and teacherNumber!=''">
                and teacher_number=#{teacherNumber}
            </if>
            <if test="companyNumber !=null and companyNumber!=''">
                and teacher_number=#{companyNumber}
            </if>
        </where>

    </select>
    <select id="selectNoticeInfoDataAll" resultType="intern_server.shibing.data.po.Notice">

        select *
        from notice_info
        <where>
            <if test="fuzzy !=null and fuzzy!=''">
                notice_title LIKE concat(concat('%',#{fuzzy}),'%')
                or notice_content LIKE concat(concat('%',#{fuzzy}),'%')
                or manage_user LIKE concat(concat('%',#{fuzzy}),'%')
            </if>
            and status='1'
        </where>
    </select>
    <select id="selectNoticeInfoById" parameterType="string" resultType="intern_server.shibing.data.po.Notice">
        select * from
        notice_info
        where id=#{id}
    </select>
</mapper>